.diceStyle{
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: lightgreen;
    position: relative;
    margin-bottom: 2rem;
}

// .diceNumber{
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     background-color: black;
//     display: flex;
//     justify-content: center;
//     left: 0;
//     right: 0;
//     margin: auto;
//     top: 0;
//     bottom: 0;
//     position: absolute;
// }